In [4]:
# https://github.com/codebasics/data-structures-algorithms-python/blob/master/data_structures/2_Arrays/2_arrays_exercise.md
# Let us say your expense for every month are listed below,
# January - 2200
# February - 2350
# March - 2600
# April - 2130
# May - 2190
# Create a list to store these monthly expenses and using that find out,

# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list based on this

In [9]:
p = input().split(" ")
n=int(p[0])
k=int(p[1])
lst=input().split(" ")
count=0
j=0
while j<n:
    if 5-int(lst[j])>=k:
        count+=1
    j+=1
res=int(count/3)
print(res)

5 2
0 4 5 1 0
1

In [5]:
exp = [2200,2350,2600,2130,2190]
print(exp[1]-exp[0])

150

In [6]:
exp = [2200,2350,2600,2130,2190]
three_exp = exp[0]+exp[1]+exp[2]
print(three_exp)

6680

In [11]:
exp = [2200,2350,2600,2130,2190]
for i in exp:
    if i==2000:
        print(i)

In [26]:
exp = [2200,2350,2600,2130,2190]
exp.append(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]

In [29]:
exp = [2200,2350,2600,2130,2190,1980]
exp[3] = exp[3]-200
print(exp)

[2200, 2350, 2600, 1930, 2190, 1980]

In [30]:
# You have a list of your favourite marvel super heros.
# heros=['spider man','thor','hulk','iron man','captain america']
# Using this find out,

# 1. Length of the list
# 2. Add 'black panther' at the end of this list
# 3. You realize that you need to add 'black panther' after 'hulk',
#    so remove it from the list first and then add it after 'hulk'
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
# 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [45]:
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))
heros.append('black panther')
print('After appending',heros)
heros.remove('black panther')
print('After removing',heros)
heros.insert(3,'black panther')
print('After inserting',heros)

heros[1:3] = ['doctor strange'] #Think to remind
print('After replacing',heros)
heros.sort()
print('After sorting',heros)

5
After appending ['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
After removing ['spider man', 'thor', 'hulk', 'iron man', 'captain america']
After inserting ['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
After replacing ['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
After sorting ['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

In [48]:
# Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user
#using input() function

i = int(input())
lst = []
for j in range(i):
    if j%2==0:
        lst.append(j)
        
print(lst)

10
[0, 2, 4, 6, 8]

In [62]:
from array import *
vals = array('i',[10,20,30,40])
print(vals)

print(vals.buffer_info())
vals.reverse()
print(vals)
vals.append(30)
print(vals)
print('Printing as list - ')
for i in vals:
    print(i)

array('i', [10, 20, 30, 40])
(1718499588096, 4)
array('i', [40, 30, 20, 10])
array('i', [40, 30, 20, 10, 30])
Printing as list -
40
30
20
10
30

In [72]:
from array import *
vals = array('i',[10,20,30,40])

newVals = array(vals.typecode,(a for a in vals))

lst = list(a for a in newVals)
print(lst)

vals.extend([10,20,30])
print(vals)
vals.insert(2,1000)
print(list(vals))

[10, 20, 30, 40]
array('i', [10, 20, 30, 40, 10, 20, 30])
[10, 20, 1000, 30, 40, 10, 20, 30]

In [74]:
from array import *

k = array('i',[10,20,30])
j = array('i',[1,2,3])
s = k+j
for i in s:
    print(i,end = "-")

10-20-30-1-2-3-

In [2]:
# P = [10,87,45,67,2]
# 1.Shift Array Elements on Right Side by One Position 
# 2.Take an input as n and then do task 1 for 1 times/ Shift Array Elements on Right Side by n position.

In [8]:
p = [10,87,45,67,2]
back = p[-1]
start = len(p)-2
while start>=0:
    p[start+1] = p[start]
    start-=1
p[0] = back

print(p)

[2, 10, 87, 45, 67]

In [10]:
p = [10,87,45,67,2]

n = int(input())
while n>0:
    back = p[-1]
    start = len(p)-2
    while start>=0:
        p[start+1] = p[start]
        start-=1
    p[0] = back
    n-=1

print(p)

4
[87, 45, 67, 2, 10]

In [36]:
##Right Shift and Rotate by K placed

def rightShift(array,kotobar):
    for j in range(kotobar):
        temp = array[-1]
        i = len(array)-2
        while i>=0:
            array[i+1] = array[i]
            i-=1
        array[0] = temp
    return array







a=[10,20,30,40,50,70]

rightShift(a,3)

[40, 50, 70, 10, 20, 30]

In [3]:
#Insertion of an Array

def insert(array,size,value,k):
    j = size-1 #লাস্ট এলিমেন্টকে পয়েন্ট করছি
    array+=[0] #শেষে একটা ফাঁকা স্পেস তৈরী করতেছি
    if k>size or k<0:
        print("Wrong Index")
        return
    else:
        while j>=k: #যতক্ষন j এর থেকে k অর্থাৎ ইন্সার্টের ইনডেক্স ছোট বা বড় ততক্ষন এরের এলিমেন্টগুলো ডানদিকে এক ঘর শিফট করব 
            array[j+1] = array[j]
            j-=1
        array[k] = value #সব এলিমেন্ট ডান দিকে এক ঘর সড়ে গেলে k তম ইনডেক্সে ফাঁকা স্পেস তৈরি হবে(K==k+1 তম ডেক্সের এলিমেন্ট) 
        size+=1          #এবং সেখানে আমরা  ওখানে ভ্যালু বসিয়ে দিব! এরপর এরের সাইজ এক বাড়ায় দিব। কারণ নতুন এলিমেন্ট এড করতেছি
        return
    
    
    

    
lst = [20,67,85,34,12]

size = len(lst)
k = 4
value = 90
insert(lst,size,value,k)
print(lst)

[20, 67, 85, 34, 90, 12]