In [8]:
#Min & Max
max([10,17,88,90])

90

In [16]:
def myfunc():
    i=int(input())
    t=int(input())
    print(i*t)

myfunc()

45
4
180

In [17]:
def compstr(x,y):
    if len(x)>len(y):
        return x
    else:
        return y
a=input()
b=input()
print(compstr(a,b))

sizan
piyal
piyal

In [18]:
def name(nam):
    print("Hello",nam)
n=input()
name(n)

sizan
Hello sizan

In [35]:
def add(name,place):
    print(name,"is from",place)
    
add("Sizn","Dhaka")
add("rabn","Dhaka")

Sizn is from Dhaka
rabn is from Dhaka

In [32]:
#Multiple Arguments
def name(*names):
    print("Hello",names[0],names[1])
    
name("sizan","alice")

Hello sizan alice

In [34]:
def coron(*update):
    print("Corona Satus:",update[0],update[1],update[2],update[3])

coron("Male:","180","Female:","80")

Corona Satus: Male: 180 Female: 80

In [37]:
def fun1(v1,v2,v3):
    print("Value1:",v1,"value2:",v2,"Value3:",v3)
fun1(v2="Sizan",v3="679",v1="t")

Value1: t value2: Sizan Value3: 679

In [1]:
#Default Arguments Value
def sq(x=2,y=3):
    print(f"{x}^2+2*{x}*{y}+{y}^2=",x*x+2*x*y+y*y)
sq()
sq(2)

2^2+2*2*3+3^2= 25
2^2+2*2*3+3^2= 25

In [56]:
#Multiplication 
def mul(y,x):
    return y*x
val=int(input())
i=1
while i<=10:
    print(f"{val}*{i}=",mul(val,i),end="\n")
    i+=1

10
10*1= 10
10*2= 20
10*3= 30
10*4= 40
10*5= 50
10*6= 60
10*7= 70
10*8= 80
10*9= 90
10*10= 100

In [59]:
#Pass_Lamda Function
def function():
    pass
function()

In [60]:
def avg(x,y):
    return (x+y)/2
print(avg(3,4))

3.5

In [69]:
(lambda x, y: (x+y)/2)(33,4)

18.5

In [70]:
(lambda a,b:(a+b)/2)(5,4)

4.5